.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-main-image {
  height: 70%;
  object-fit: cover;
}
.signup-container-left {
  height: 100vh;
  background-color: #f4f4f4;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-container-right {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo-container-div {
  width: 55%;
}
.signup-logo {
  height: 86px;
  /* margin-bottom: 20px; */
  align-items: left;
}
.signup-container-form {
  width: 414px;
}
.signup-container-form h3 {
  color: #151515;
  opacity: 70%;
  font-size: 36px;
  font-weight: 700;
  margin: 12px 0px;
}
.signup-container-form p {
  color: #151515;
  /* opacity: 60%; */
}
.label-and-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.label-and-input label {
  opacity: 80%;
  margin-bottom: 4px;
  font-weight: 500;
}
.label-and-input input {
  display: flex;
  padding: 17px 21px;
  align-items: center;
  gap: 32px;
  border-radius: 9px;
  background: #f4f4f4;
  border: 2px solid transparent; /* Initial border to avoid layout shift */
  transition: border-color 0.3s ease; /* Smooth transition */
}
.label-and-input input:focus {
  border-color: red; /* Change border color to red on focus */
  outline: none; /* Remove default outline */
}
.label-and-input input::placeholder {
  color: #151515;
  opacity: 60%;
  font-size: larger;
}
.terms-and-conditions-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.checkbox-input {
  /* margin-top: 80px; */
  margin-right: 10px;
}
.red {
  color: red;
}
.signup-container form button {
  width: 100%;
  padding: 10px;
  background: #294dff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
}

.signup-container form button:hover {
  background: #1038ff;
}
.agree-to-terms {
  text-decoration: none;
  font-family: "Inter";
}
.privacy-policy {
  text-decoration: none;
  color: #294dff;
}
